.fSlider {max-width: 855px;}
.fSliderWrapper {position: relative;margin: 0 auto; }
.fSliderWrapper.centerMode {height:200px;overflow: hidden;background:#eee;}
.fSliderWrapper.centerMode .fSlider {overflow: visible; }
.fSliderWrapper .fSlider {position: relative;width: 0; overflow: hidden; margin: 0 auto; }
.fSliderWrapper .fSlider .fSliderTrack { position: absolute; top: 25px; left: 0; cursor: pointer; } .fSliderWrapper .fSlider .fSliderTrack img { -webkit-user-drag: none; -khtml-user-drag: none; -moz-user-drag: none; -o-user-drag: none; user-drag: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: yellow; }
.fSliderWrapper .fSlider .fSliderTrack.fade { position: relative; overflow: hidden; } .fSliderWrapper .fSlider .fSliderTrack.fade .sliderItem { display: block; position: absolute; top: 50%; left: 0; display: none; }
.fSliderWrapper .fSlider .fSliderTrack.fade .sliderItem.current {display: block; }
.fSliderWrapper .fSlider .fSliderTrack .sliderItem { box-sizing: border-box; display: inline-block; vertical-align: middle; }
.fSliderWrapper .fSlider .fSliderTrack .sliderItem.vTop {vertical-align: top; }
.fSliderWrapper .fSlider .fSliderTrack .sliderItem.vBottom {vertical-align: bottom; }
.fSliderWrapper .fSlider .fSliderTrack .sliderItem img {display: block; }
.fSliderWrapper a[class|="fArrow"] {position: absolute;display: block;top: 100px;width: 0px;height: 200px;}
.fSliderWrapper a[class|="fArrow"]:after { content: ''; display: block; position: absolute; top: -22px; border-top: 22px solid transparent; border-bottom: 22px solid transparent; }
.fSliderWrapper .fArrow-prev {left: 0;}
.fSliderWrapper .fArrow-prev:after {left: 2px;border-right: 22px solid #222; }
.fSliderWrapper .fArrow-prev.disabled {border-right: 22px solid transparent; }
.fSliderWrapper .fArrow-prev.disabled:after {border-right: 22px solid #aaaaaa; }
.fSliderWrapper .fArrow-next {right: 0;}
.fSliderWrapper .fArrow-next:after { right: 2px; border-left: 22px solid #222; }
.fSliderWrapper .fArrow-next.disabled {border-left: 24px solid transparent; }
.fSliderWrapper .fArrow-next.disabled:after {border-left: 22px solid #aaaaaa; }
.sliderItem.current { -webkit-transition-property: position; /* Safari */ -webkit-transition-duration: 5s; /* Safari */ -webkit-transition-delay: 2s; /* Safari */ transition-property: position; transition-duration: 5s; transition-delay: 2s; position:relative; top:-10px; left:0px; }
.sliderItem{ text-align: center;}
.sliderItem img { height: 90px; position: relative; padding: 0; margin: 0; top: 7px; width: 90px; }
.sliderItem a,.sliderItem a:hover {color:#444;text-decoration: none;}
.sliderItem p {width:90px;font-family: trebuchet ms;}
